{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create/Edit Week</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/styles.css' %}">
</head>
<body>
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Week</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <br>
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
